{% extends 'events/layout.html' %}

{% block title %}
Add Venue - {{ block.super }}
{% endblock title %}


{% block content %}
<a class="btn-close btn-lg" href=" {% url 'list-venues'  %}" aria-label="Close"></a>
{% if user.is_authenticated %}
<center>
    <h1>Add Venue To Database</h1>
    <hr><br />
    <div class="d-flex justify-content-center">
        <div class="updatevenue">
            <form action="" method=POST enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{form.name}}
                    <label for="floatingInput">Venue Name</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.address}}
                    <label for="floatingInput">Address</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.zip_code}}
                    <label for="floatingInput">Zip Code</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.phone}}
                    <label for="floatingInput">Contact Phone</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.web}}
                    <label for="floatingInput">Website Address</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.email_adress}}
                    <label for="floatingInput">Email</label>
                </div>
                <div class="mb-3">
                    {{form.venue_image}}
                    <label for="formFile" class="form-label"></label>
                    <label for="formFile" class="form-label"></label>
                </div>
                {% for f in form  %}
                <div class="form-error">{{f.errors}}</div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-outline-secondary">
            </form>
            <div />
        </div>
</center>
{% endif %}
{% endblock content %}