{% extends 'events/layout.html' %}

{% block title %}
Search - {{ block.super }}
{% endblock title %}

{% block content %}
<center>
  {% if searched %}
  <h1>You Searched for {{searched}}</h1>
  <hr><br />
</center>
<h1>EVENTS:</h1>
  {% for event in events %}
  <div class="card">
    <div class="card-header">
      {{event.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title"><strong>Venue: </strong> <small>{{event.venue.name}}</small></h5>
      <p class="card-text">
        <strong>Date: </strong> <small>{{event.event_date}}</small><br />
        <strong>Venue Web-Site: </strong> <small><a class="text" href="{{event.venue.web}}">Link</small></a><br />
        <strong>Venue Phone: </strong> <small>{{event.venue.phone}}</small><br />
        <strong>Manager: </strong> <small>{{event.manager}}</small><br />
        <strong>Description: </strong> <small>{{event.description}}</small><br />
      </p>
    </div>
  </div>
  <br /><br />
  {% endfor %}
  <hr><br />
  <h1>VENUES:</h1>
  <table class="table table-hover table-bordered">
    {% for venue in venues  %}
    <tr>
      <td class="each">
        <a class="text" href="{% url 'show-venue' venue.id %}">{{venue.name}} </a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>Hey! You forgot to actually search smth!</h1>
    <h2>You can do it right here </h2>
    <form class="d-flex" method=POST action={% url 'search' %}>
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched" >
      <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
    </form>
    {% endif %}
    <table />
{% endblock content %}